body
{
  font-size: 16px; /* Fonte da Pagina */
  font-family: Calibri; /* Fonte da Pagina */
  margin:0px; /*Quantidade de Margin */
  padding: 0px; /* Quantidade de Padding*/
  
}

/*---------------------------------------------------------------------- MENU ----------------------------------------------------------------------*/

header
{
  position: sticky;
  padding: 40px 0px;
  top: 0;
  display: flex;
  justify-content: start;
  z-index: 1;
}

.menu
{
  padding-left: 0px;
  width: 100%;
}

ul.menu {
  
  list-style-type: none;
  margin: 0;
  position: absolute;
  top: 0;
  background-color: #34678A;

}

ul.submenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: #78A7C8;
  display: none;
}
.menu li {
  float: left;
  width: auto;
  position: relative;
  text-transform: capitalize;
}
.submenu li {
  float: left;
  width: 200px;
  position: relative;
}
.menu li a {
  display: block;
  color: #fff;
  text-align: left;
  padding: 26px 16px;
  text-decoration: none;
  font-size: 18px; /* Fonte da Pagina */
  
}
.menu li:hover > ul.submenu
{
  display: block;
  
}

.menu a:hover
{
  background-color: #78A7C8;
}

.submenu a:hover
{
  background-color: #34678A;
}

.LogoMenu
{
  width: 150px;
  float:right;
  display: flex;
  justify-content:flex-end;
}

/*---------------------------------------------------------------------- FOOTER ----------------------------------------------------------------------*/
   
.FooterBox 
{
  background-color: #444444;
  height: 300px;
  margin:0px; /*Quantidade de Margin */
  padding: 0px; /* Quantidade de Padding*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.CentralizandoFooter
{
  display: flex;
  justify-content: center;
}
 
.ConteudoFooter
{
  font-size: 18px;
  list-style-type: none;
  padding: 20px;
}


.ConteudoFooter ul ,.TitleConteudoFooter
{
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  padding: 0px;
}



.ConteudoFooter a
{
  text-align: center;
  color: white;
  list-style-type: none;
  text-decoration: none;    
}

.ConteudoFooter a:hover
{
  background-color: rgb(52, 52, 52);
}